body{
    direction: rtl;
}
.table>:not(caption)>*>*{
    border: 2px solid rgb(161, 161, 161) !important; 
}
table th{
    background-color: blueviolet !important;
}
.gz{
    background-color: yellow !important;
}
.madi{
    background-color: rgb(0, 238, 255) !important;
}
.mraget{
    background-color: rgb(50, 255, 50) !important;
}
table input{
    width: 120px !important;
    border: none;
    padding: 5px;
    background-color: transparent;
}
table input:focus{
    outline: none;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(133, 66, 66) !important;
}
@media (min-width: 100px) and (max-width: 767px){
    table{
        width: 100%;
    }
}